.artist-info {
  position: relative;
  height: 400px;
  margin-bottom: 30px;
}

.artist-image-wrapper {
  width: 100%;
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 25%;
}

.artist-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  z-index: 1;
}

.artist-container {
  display: flex;
  position: relative;
  height: inherit;
}

.artist-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.artist-name {
  margin-top: 60px;
  margin-left: 200px;
  max-width: calc(50% - 130px);
  color: rgb(0, 0, 0);
  font-size: 2.5em;
  font-weight: bold;
  cursor: default;
}

.artist-name_light {
  color: rgb(255, 255, 255);
}

.artist-play-button {
  margin: 30px 0 100px 200px;
  width: 170px;
  height: 40px;
  background-color: rgba(255, 255, 255);
  text-transform: uppercase;
  font-size: 0.78em;
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica,
    Arial, Sans-serif;
  font-weight: bold;
  letter-spacing: 0.04em;
  border: 1px solid rgb(180, 180, 180);
}

.artist-play-button:hover {
  background-color: rgb(240, 240, 240);
}

.artist-content {
  display: flex;
  padding: 0 auto;
  justify-content: center;
}

.arrow-play-artist {
  width: 15px;
  background: url("../assets/icons/free-icon-play-button-153752.svg")
    center/15px no-repeat;
  margin-right: 10px;
}

.artist__albums {
  padding-top: 10px;
  margin: 0 200px 25px;
}

.artist__albums-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 50px;
  list-style: none;
  overflow: hidden;
}

.artist__album {
  padding: 5px 0;
  width: calc((1920px - 15px - 2 * 200px - 5 * 50px) / 6);
}
