.tile {
  background-color: white;
}

.tile__container {
  position: relative;
}

.tile__options {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.tile__button {
  width: 18px;
  height: 15px;
  margin-right: 2px;
  background: rgba(255, 255, 255, 0.9) center/10px no-repeat;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.tile__options_hover {
  display: block;
}

.tile__button:last-child {
  margin: 0;
}

.tile__button:hover {
  background-color: rgb(189, 189, 189);
}

.tile__button-edit {
  background-image: url("../assets/icons/pencil.svg");
}

.tile__button-delete {
  background-image: url("../assets/icons/cancel.svg");
}

.tile__image-wrapper {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.tile__image {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #efeeef;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tile__image_no-cover {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #efeeef;
  width: 100px;
  height: 100px;
  margin: auto;
  object-fit: cover;
}

.tile__link {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 15px;
}

.tile__name {
  text-decoration: none;
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  white-space: pre-wrap;
}

.tile__link_hover {
  display: block;
}

.tile__name_hover {
  text-decoration: underline;
}
