.track {
  width: 100%;
  list-style: none;
  cursor: pointer;
  border-top: 1px solid rgb(230, 230, 230);
  background-color: rgba(255, 255, 255);
}

.track:last-child {
  border-bottom: 1px solid rgb(230, 230, 230);
}

.track.chosen {
  background-color: rgb(241, 241, 241);
}

.track__container:hover,
.track.phantom > .track__container:hover,
.current > .track__container,
.playing > .track__container {
  background-color: rgb(238, 238, 238);
}

.track__container {
  padding: 0 5px;
}

.track__container:hover .track__play-button {
  display: block;
}

.track__container {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
}

.track__left-side {
  width: 36px;
  height: inherit;
  position: relative;
}

.track__artist-image-wrapper {
  height: 100%;
  background: center/cover no-repeat;
}

.track__play-button {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 100%;
}

.track__artist-image-wrapper_no-cover + .track__play-button {
  display: block;
  background-color: rgba(0, 0, 0, 0);
}

.track__artist-image-wrapper_no-cover
  + .track__play-button
  > .track__white-circle {
  display: none;
}

.track__artist-image-wrapper_no-cover
  + .track__play-button
  > .track__action-icon {
  background-size: 20px;
}

.track__play-button-element {
  width: inherit;
  height: inherit;
  position: absolute;
}

.track__white-circle {
  background: rgba(0, 0, 0, 0.6) url("../assets/icons/White_Circle.svg")
    center/25px no-repeat;
}

.track__action-icon {
  background: url("../assets/icons/right-chevron.svg") center/15px no-repeat;
}

.playing .track__action-icon {
  background-image: url("../assets/icons/pause.svg");
}

.no-cover + .track__play-button {
  display: block;
  background-color: rgba(0, 0, 0, 0);
}

.no-cover + .track__white-circle {
  display: none;
}

.no-cover + .track__action-icon {
  background-size: 20px;
}

.track__main {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 7px;
  padding: 5px 0;
  width: 100%;
}

.track__clickable-background {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 1;
}

.track__content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.track__header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  white-space: nowrap;
  color: black;
}

.track__header-element {
  line-height: 1.3em;
  padding-right: 5px;
}

.track__title {
  cursor: default;
  z-index: 2;
  white-space: nowrap;
}

.track__artists {
  color: rgb(141, 141, 141);
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track__artists-link {
  text-decoration: none;
  color: rgb(141, 141, 141);
  font-size: 0.95em;
}

.track__artists-link:hover {
  text-decoration: underline;
}

.track__player {
  width: 100%;
  margin: 0;
}

.track__genres {
  display: flex;
  align-self: flex-start;
  overflow: hidden;
  font-size: 0.75em;
  padding-right: 10px;
}

.track__genre {
  margin-right: 10px;
  padding: 0px 5px;
  z-index: 1;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(189, 189, 189);
  border-radius: 2.5px;
  white-space: nowrap;
}

.track__genres.colored .track__genre {
  border: 0px;
}

.track__genres.white-theme .track__genre {
  color: rgb(255, 255, 255);
}

.track__genre:last-child {
  margin-right: 0;
}

.track__genre:hover {
  background-color: rgb(189, 189, 189);
}

.track__hud {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.track__first-row {
  display: flex;
  justify-content: flex-end;
}

.track__second-row {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.track__curr-time-container {
  display: flex;
}

.track__time {
  display: flex;
  bottom: 0px;
  font-size: 0.65em;
  cursor: default;
  z-index: 2;
}

.track__duration-container {
  text-align: right;
}

.track__curr-time,
.track__duration {
  width: 100%;
  height: 100%;
  cursor: default;
}

.track__duration {
  text-align: right;
}

.track__time-slash {
  margin: 0 3px;
}

.track__right-tab {
  display: flex;
  justify-content: flex-end;
}

.track__right-tab-button {
  width: 18px;
  height: 15px;
  margin-right: 2px;
  background: center/10px no-repeat;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.track__right-tab-button:hover {
  background-color: rgb(184, 184, 184);
}

.track__right-tab-button:last-child {
  margin: 0;
}

.track__edit-button {
  background-image: url("../assets/icons/pencil.svg");
}
